<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> 



<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/todolist/create">To Do List</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>


<table>
    <thead>

        <tr>
            <th style="text-align: center">ID</th>
            <th style="text-align: center">Item</th>
            <th style="text-align: center">Finish State</th>
            <th style="text-align: center">Actions</th>
        </tr>

    </thead>

    <tbody>
        <% data.map ( (item, index) => { %>
        <tr>
            <td style="text-align: center"><%= item.id %></td>
            <td style="text-align: center"><%= item.toDo %></td>
            <td style="text-align: center"><%= item.finish %></td>
            <td style="text-align: center"> <a href="/todolist/edit/<%= item.id %>">Edit</a>／<a href="/delete/<%= item.id %>">Delete</a> </td>
        </tr>
        <% } ); %>
    </tbody>
</table>

